#images-header {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#images-header img {
    border: 2px solid black;
}

#images-header div {
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 25px;
    height: 500px;
    width: 300px;
    background-color: rgb(105, 84, 84);
    border: 1px solid rgb(121, 121, 121);
}

#images-header p {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}