@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: black;
}

h1 {
    font-family: "Rokkitt", "Micro 5";
    color: white;
    border-bottom: 1px solid rgb(112, 112, 112);
}

.titulo-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.titulo-header a {
    text-decoration: none;
    color: white;
    transition: 500ms;
}

.titulo-header a:hover {
    color: rgb(157, 218, 214);
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-bottom: 1px solid rgb(112, 112, 112);
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 18px;
    text-align: center;
    font-family: "Rokkitt", "Micro 5";
    font-size: 1rem;
    transition-duration: 250ms;
}

nav ul li a:hover {
    background-color: rgb(54, 54, 54);
}